.course-item-horizontal {
  width: 874px !important;
  margin: 5px auto;
}
.course {
  display: flex;
  flex-direction: column !important;
}
.footer {
  background-color: white !important;
  padding: 80px 0;
  color: var(--primary-color) !important;
}
